@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
:root {
  --background: linear-gradient(#FFFFF0, #FFFFE0); 
  
  --navcolor: #FFFDD0;
  /* --textnav: #018925; */
  --textnav: #00563B;
  --bgcard: #ACE1AF;
  --text-tittle: #00563B;
  --button: #6F00FF;
  --textbutton: #ffffff;
  --bgcardservicios: #D0F0C0;
}