/* stilo de header completo */

header {
  background: var(--navcolor);
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 65px;
  padding: 0px 40px 0px 40px;
  position: fixed;
  top: 0;
  z-index: 2;
  border-radius: 16px;
  box-shadow: rgba(151, 151, 151, 0.25) 0px 15px 25px, rgba(151, 151, 151, 0.25) 0px 5px 10px;
}

.logo {
  height: 100%;
}
.cart-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.navbar, 
.navbar-list {
  display: flex;
  align-items: center;
  justify-content:center;
}
.navbar {
  gap: 150px;
}

.navbar-list {
  gap: 50px;
}

.navbar-list li:first-child > a {
  font-weight: 700;
}


.navbar-list a {
  color: var(--textnav);
  font-weight:400;
  font-size: 18px;
}

 /* navbar menu hamburguesa stilo  */

 .menu-label, 
 #menu-toggle {
  display: none;
 }


/* stilo de seccion 1 y hero cards mas info  */

main {
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #131415;
  width: 100%;
}

  #hero {
  padding: 70px 20px;
  margin-top: 65px;
  display: flex;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  gap: 170px;
}

  .hero-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  max-width: 40%;
}
  .hero-info h1 {
  text-align: center;
  font-size: 40px; 
  font-weight: 700;
  color: var(--text-tittle);   
}
  .hero-info p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

  .hero-info p span {
  font-weight: 600;
}
  .hero-info a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--textbutton);
  font-size: 18px;
  font-weight: 500;
  width: 120px;
  padding: 8px;
  border-radius: 16px;
  background: var(--button);

}

  .hero-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 40%;
  height: 300px;
  gap: 30px;
  background-color: var(--bgcard);
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

  .hero-card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.hero-card-info h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-service);
}

.container img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

  
/* seccion 2 card servicios */

#info-servicios {
  padding: 70px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  gap: 70px;
}

#info-servicios h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: var(--text-tittle);
}

.card-servicios-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.card-servicios {
  border-radius: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-servicios img {
  width: 80px;
  height: 80px;
}
.card-servicios p {
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.card-servicios h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

/* stilo cards productos ofertas */

#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding: 100px 30px;
  gap: 70px;
}
#products h3 {
  font-size: 28px;
  font-weight: 500;
  color: var(--text-tittle);
}

.container-offers {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 70px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: rgba(150, 150, 150, 0.3) 0px 30px 60px -12px inset, rgba(150, 150, 150, 0.3) 0px 18px 36px -18px inset;
}


.offer-cards {
  background: var(--bg-card-prod);
  border-radius: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 350px;
  height: 350px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.offer-cards img {
  width: 70%;
}
.description-prod {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 20px 20px;
}
.info-prod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.info-prod p {
  font-size: 16px;
  font-weight: 400;
}
.info-prod span {
  font-size: 18px;
  font-weight: 700;
}
.price {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-price);
}



/* stilo de footer */


#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: var(--bg-footer);
  padding: 40px 30px;
  color: var(--text-footer);
  box-shadow: rgba(151, 151, 151, 0.25) 0px 30px 60px -12px inset, rgba(151, 151, 151, 0.25) 0px 18px 36px -18px inset;
}

.container-footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  gap: 130px;
  padding: 10px 30px;
  max-width: 1200px;

}

#footer h5 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.titulo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.titulo-footer p {
  font-size: 16px;
  font-weight: 400;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact p {
  font-size: 16px;
  font-weight: 300;
}

.contact img {
  display: flex;
  width: 25px;
}

.icon-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.info-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}


.wsp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.redes img, 
.wsp img{
  width: 40px;
  cursor: pointer;
}


.links-redes {
display: flex;
justify-content: center;
flex-direction: row;
gap: 10px;
}